<div class="container">
    <h3>Ajouter une reservation</h3>
    <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
        <label for="client">Client:</label>
        <input type="text" id="client" formControlName="client" required>
    
        <label for="date">Date:</label>
        <input type="date" id="date" formControlName="date" required>
    
        <label for="bus">Bus:</label>
        <input type="text" id="bus" formControlName="bus" required>
    
        <button type="submit" [disabled]="!reservationForm.valid">Submit</button>
    </form>
</div>

